.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}
.quantity-controls,
.quantity-label,
.add-to-cart-button {
  /* Adjust styles for buttons and quantity controls */
  display: flex; /* Make buttons and controls a row */
  justify-content: space-between; /* Align buttons horizontally */
}
